@model Slim.ViewModels.SlimUrlCreateViewModel

@using ( Html.BeginForm("IndexSubmit", "Frontend", FormMethod.Post, new { @class = "slim-create-form" }) ) {
	<ul>
		<li class="field">
			@Html.TextBoxFor(Model => Model.FullUrl, new {@class="input full", @placeholder="enter a url"})
		</li>
	</ul>
}