/*
	green #42a35a
*/

.short-list-header {
	margin-top:18px;
	border-bottom:1px solid #D8D8D8;
	text-align:center;
}
.short-list-header .heading {

	display:inline-block;
	padding:8px 12px;
	margin-bottom:-1px;
	border:1px solid #D8D8D8;
	border-bottom:0;
	font-size:14px;
	font-weight:600;
	line-height:18px;
	background:#fff;
	
}

.short-list {

}

.short-item {
	position:relative;
	padding:18px 24px;
	border-bottom:1px solid #D8D8D8;
}
.short-item:last-child {
	border-bottom:0;
}

.short-item .full-url {
	padding-bottom:4px;
}
.short-item .full-url a {
	font-size:18px;
	font-weight:700;
	color:#42a35a;
	word-wrap: break-word;
}

.short-item .host,
.short-item .short-url a {
	font-size:14px;
	line-height:16px;
	font-weight:600;
}

.short-item .host {
	color:#999;
}

.short-item .short-url a {
	color:#444;
}

.short-item .stats .show-stats {
	cursor: pointer;
}

.short-item .stats .stats-link {
	padding-left:6px;
	font-size:14px;
}

.short-item .link-icon {
	position:absolute;
	top:18px;
	left:0;
}

.short-item .copy-btn {
	position:absolute;
	top:18px;
	right:0;
	padding:10px;
	display:inline-block;
	/*height: 36px;*/
	background:#3085d6;
	border: 1px solid #3085d6;
	line-height: 18px;
	color:#fff;	
}
.short-item .copy-btn span {
	padding:0px 6px;
}

.short-item .copy-btn.hover {
	background:#5b9ede;
}


/* Layout */
.logo {
	width:300px;
	font-size: 4rem;
}
.logo a {
	color: #444444;
}
.logo img {
	position:relative;
	display:inline-block;
	top:10px;
	width:68px;	
	margin-right:14px;
}

.logo a:hover {
	color:#666;
}

.footer p {
	font-size:10px;
}

.slim-alerts .alert {
	text-align: center;
}


/* Form, when in page */
.slim-create-form-container {
	background:rgb(248,248,248);
	padding:25px 0 20px 0;
	text-align:center;
}

.slim-create-form-container form, 
.slim-create-form-container .field {
	padding:0;
	margin:0;
}

/* Form, when in header */
@media only screen and (min-width: 768px) {
	.site-header .slim-create-form {
		padding-top:54px;
	}
}