@model Slim.ViewModels.Home

@section BesideLogo {
	@Html.Partial("~/Views/Shared/Partials/ShortUrl/Create.cshtml", Model.NewShortUrl)
}

<div class="short-list-header">
	<div class="heading">Links we've recently slimmed</div>
</div>

@Html.Partial("~/Views/Shared/Partials/ShortUrl/List.cshtml", Model.RecentShortUrls)