@model Slim.ViewModels.HomeViewModel

@section BesideLogo {
	@Html.Partial("~/Views/Shared/_ShortUrlCreate.cshtml", Model.CreateViewModel)
}

@if (!ViewData.ModelState.IsValid) {
	<div class="warning alert">Oops! We couldn't create a slim link for your URL. Try again with a full URL.</div>
}

<p>Links recently shortened</p>

@Html.Partial("~/Views/Shared/_ShortUrlList.cshtml", Model.ListViewModel)