@model Slim.ViewModels.Shorten

@section BesideLogo {
	@Html.Partial("~/Views/Shared/Partials/ShortUrl/Create.cshtml", Model.NewShortUrl)
}

@if (Request.HttpMethod == "POST" && !ViewData.ModelState.IsValid) {
	@section Alerts {
		<div class="warning alert">Oops! We couldn't create a slim link for your URL. Try again with a full URL.</div>
	}
}

@if (Model.LastShortUrls.Count() > 0) {
	<div class="short-list-header">
		<div class="heading">Here's your new slim url!</div>
	</div>
	@Html.Partial("~/Views/Shared/Partials/ShortUrl/List.cshtml", Model.LastShortUrls)
}

<div class="short-list-header">
	<div class="heading">Links we've recently slimmed</div>
</div>

@Html.Partial("~/Views/Shared/Partials/ShortUrl/List.cshtml", Model.RecentShortUrls)